<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, you got a new submission!</h1>
    <p>Awesome. Here is the info:</p>
    <ul>
      <li><%= @client.full_name %></li>
      <li><%= @client.email %></li>
      <li><%= @client.phone_number %></li>
      <li><%= @client.pick_up_location %></li>
      <li><%= @client.city %></li>
      <li><%= @client.pick_up_date %></li>
      <li><%= @client.pick_up_time %></li>
    </ul>
  </body>
</html>
