<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light desktop-nav" style="margin-bottom:2rem;">
    <a href="<%= root_path %>" class="navbar-brand">
      <%= image_tag("journey-logo-black-white.svg") %>
    </a>
    <% if admin_signed_in? %>
      <a id="hamburger-icon" href="#" class="open-close-btn home-page-btn"><span></span>
        <span></span>
        <span></span>
        <span></span>
      </a>
      <div id="myNav" class="overlay">
        <div class="overlay-content">
          <ul>
            <li>Hello <%= current_admin.email %></li>
            <li><%= link_to "Edit Account", edit_admin_registration_path %></li>
            <li><%= link_to "Admin Panel", admin_path %></li>
            <li><%= link_to "Logout", destroy_admin_session_path, method: :delete, data: {confirm: "are you sure you want to log out?"} %></li>
          </ul>
        </div>
      </div>
    <% end %>
  </nav>

  <div>
    <%= form_tag(admin_path, method: :get, class: "form-inline search-form") do %>
      <div class="form-group">
        <%= text_field_tag :client, params[:client], class: "form-control", placeholder: "Search by city" %>
      </div>
      <%= submit_tag 'Search', class: "btn btn-primary search-btn" %>
    <% end %>

    <table id="table-current" width="100%" data-toggle="table" class="table">
      <h3>Current Submissions</h3>
      <thead>
        <tr>
          <th data-sortable="true">Name</th>
          <th data-sortable="true">Email</th>
          <th data-sortable="true">Phone</th>
          <th data-sortable="true">Address</th>
          <th data-sortable="true">City / Area</th>
          <th data-sortable="true">Pick Up Date</th>
          <th data-sortable="true">Time</th>
          <th data-sortable="true">Instructions</th>
          <th data-sortable="false">Options</th>
        </tr>
      </thead>
      <% @clients.each do |client| %>
          <tr class="table-row <%= 'archived' unless client.active? %>">
            <td><%= client.first_name %> <%= client.last_name %></td>
            <td><a href="mailto:<%= client.email %>"><%= client.email %></a></td>
            <td><a href="tel:<%= client.phone_number %>"><%= number_to_phone(client.phone_number) %></a></td>
            <td><a href="https://maps.google.com/?q=<%= client.pick_up_location %>&t=m" target="_blank"><%= client.pick_up_location %></a></td>
            <td><%= client.city %></td>
            <td><%= client.pick_up_date %></td>
            <td><%= client.pick_up_time.strftime("%l:%M %p") %></td>
            <td><%= client.instructions %></td>
            <td class="table-options">
              <%= link_to "Edit", edit_client_path(client) %>
              <% if client.active? %>
                <%= link_to "Archive", archived_client_path(client), :method => :put %>
              <% else %>
                <%= link_to "Unarchive", archived_client_path(client), :method => :put %>
              <% end %>
              <%= link_to "Delete", client_path(client), method: :delete, data: {confirm: "Do you want to delete this row?"} %>
            </td>
          </tr>
      <% end %>
    </table>
  </div>

  <br /><br />

  <div class="emails ">
    <% @clients.each do |client| %>
      <p>
        <%= client.email %>
      </p>
    <% end %>
  </div>
</div>
