<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for submitting, <%= @client.first_name %>!</h1>
    <p>Thank you for submitting your information. We have recieved your submission!</p>
    <p>Here is the info:</p>
    <ul>
      <li><%= @client.first_name %> <%= @client.last_name %></li>
      <li><%= @client.email %></li>
      <li><%= @client.phone_number %></li>
      <li><%= @client.pick_up_location %></li>
      <li><%= @client.city %></li>
      <li><%= @client.pick_up_date %></li>
      <li><%= @client.pick_up_time %></li>
    </ul>
  </body>
</html>
