<div class="container">

  <h1>Edit Client Info</h1>

  <%= flash[:success] unless flash[:success].blank? %>
  <%= flash[:error] unless flash[:error].blank? %>

  <% if @client.errors.any? %>
    <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_for @client do |f| %>
    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :pick_up_location %>
      <%= f.text_field :pick_up_location, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :pick_up_date %>
      <%= f.select(:pick_up_date, options_for_pickup, {}, { :class => 'form-control' }) %>
    </div>
    <div class="form-group">
      <%= f.label :pick_up_time %>
      <%= f.time_field :pick_up_time, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :instructions, "Special instructions".html_safe %>
      <%= f.text_area :instructions, class: "form-control" %>
    </div>
    <%= f.submit :submit, class: "btn btn-primary" %>
  <% end %>

</div>
