<div class="column-left image">
</div>

<div class="column-right">
  <div class="header">
    <!-- Desktop Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light desktop-nav">
      <a href="<%= root_path %>" class="navbar-brand">
        <%= image_tag("journey-logo-black-white.svg") %>
      </a>
      <% if admin_signed_in? %>
        <a id="hamburger-icon" href="#" class="open-close-btn home-page-btn"><span></span>
          <span></span>
          <span></span>
          <span></span>
        </a>
        <div id="myNav" class="overlay">
          <div class="overlay-content">
            <ul>
              <li>Hello <%= current_admin.email %></li>
              <li><%= link_to "Edit Account", edit_admin_registration_path %></li>
              <li><%= link_to "Admin Panel", admin_path %></li>
              <li><%= link_to "Logout", destroy_admin_session_path, method: :delete, data: {confirm: "are you sure you want to log out?"} %></li>
            </ul>
          </div>
        </div>
      <% end %>
    </nav>
  </div>

  <div class="content">
    <div class="success"><%= flash[:success] unless flash[:success].blank? %></div>
    <div class="error"><%= flash[:error] unless flash[:error].blank? %></div>
    <br>

    <% if @client.errors.any? %>
      <ul>
        <% @client.errors.full_messages.each do |msg| %>
          <li style="color:red;"><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="text">
      <h1 align="center">help our journey grads</h1>
      <p align="center"><b>We want to take ALL the hassle out of getting rid of your dry, prickly, Christmas Tree and now its easier than ever before.</b></p>
      <h2>FAQ</h2>
      <small class="uppercase">1. Who are we?</small>
      <p>We are a group of grade 12 students from the Youth Group at Peace Portal Church and we are fundraising for our grad trip to Disneyland that will take place in July and this is our 6th year chipping and picking up trees.</p>
      <small class="uppercase">2. How does it work?</small>
      <p>Its really simple, you fill out our form above, let us know when the tree is ready, leave your donation under your door mat or in the mailbox and we will come grab the tree. No needs to stick around waiting, our elves will make it disappear.</p>
      <small class="uppercase">3. Where do you pick up?</small>
      <p>We will gladly pick up your tree in Sullivan / South Surrey / Panorama / Cloverdale / White Rock / Summerfield.</p>
      <small class="uppercase">4. When can I get my tree picked up?</small>
      <p>We will be offering pick ups on Dec 31, Jan 6/7 and Jan 13/14.</p>
      <small class="uppercase">5. Can I drop my tree off?</small>
      <p>We of course would be happy to receive your tree on any of those days from 10am-4pm at Peace Portal Church at the corner of 152 Street and King George Blvd.</p>
      <small class="uppercase">6. What does it cost?</small>
      <p>It is all by donation, with 100% of the money going to students trip costs. Most people in the past have given between $10-$20 for a tree pick up and payment can be in cash or cheque to Peace Portal (with a note “Grad Trip”)</p>
    </div>

    <div class="client-form">

    <%= form_for @client do |f| %>
      <div class="row form-group">
        <div class="col-lg-6 col-xs-12">
          <%= f.label :first_name, "First Name<span class='asterisk'>*</span>".html_safe %>
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
        <div class="col-lg-6 col-xs-12">
          <%= f.label :last_name, "Last Name<span class='asterisk'>*</span>".html_safe %>
          <%= f.text_field :last_name, class: "form-control" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-lg-6 col-xs-12">
          <%= f.label :email, "Email<span class='asterisk'>*</span>".html_safe %>
          <%= f.email_field :email, class: "form-control" %>
        </div>
        <div class="col-lg-6 col-xs-12">
          <%= f.label :phone_number, "Phone Number<span class='asterisk'>*</span>".html_safe %>
          <%= f.text_field :phone_number, class: "form-control" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-lg-6 col-xs-12">
          <%= f.label :pick_up_location, "Pick Up Address<span class='asterisk'>*</span>".html_safe %>
          <%= f.text_field :pick_up_location, class: "form-control" %>
        </div>
        <div class="col-lg-6 col-xs-12">
          <%= f.label :city, "City / Area<span class='asterisk'>*</span>".html_safe %>
          <%= f.text_field :city, class: "form-control" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-lg-6 col-xs-12">
          <%= f.label :pick_up_date, "Pick Up Date<span class='asterisk'>*</span>".html_safe %>
          <%= f.select(:pick_up_date, options_for_pickup, {}, { :class => 'form-control' }) %>
        </div>
        <div class="col-lg-6 col-xs-12">
          <%= f.label :pick_up_time, "time the tree will be ready<span class='asterisk'>*</span>".html_safe %>
          <%= f.time_field :pick_up_time, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :instructions, "Special instructions <small>(optional)</small>".html_safe %>
        <%= f.text_area :instructions, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= button_tag( :class => "btn btn-primary form-control homepage-form-btn") do %>
          submit <i class="ion-paper-airplane"></i>
        <% end %>
      </div>
    <% end %>

    </div>
  </div>
</div>
