<div class="column-left image">
</div>

<div class="column-right">
  <div class="header">
    <!-- Desktop Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light desktop-nav">
      <a href="<%= root_path %>" class="navbar-brand">
        <%= image_tag("journey-logo-black-white.svg") %>
      </a>
      <% if admin_signed_in? %>
        <a id="hamburger-icon" href="#" class="open-close-btn home-page-btn"><span></span>
          <span></span>
          <span></span>
          <span></span>
        </a>
        <div id="myNav" class="overlay">
          <div class="overlay-content">
            <ul>
              <li>Hello <%= current_admin.email %></li>
              <li><%= link_to "Edit Account", edit_admin_registration_path %></li>
              <li><%= link_to "Admin Panel", admin_path %></li>
              <li><%= link_to "Logout", destroy_admin_session_path, method: :delete, data: {confirm: "are you sure you want to log out?"} %></li>
            </ul>
          </div>
        </div>
      <% end %>
    </nav>
  </div>

  <div class="content">
    <h1 align="center">help our journey grads</h1>
    <p align="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class="client-form">

    <%= flash[:success] unless flash[:success].blank? %>
    <%= flash[:error] unless flash[:error].blank? %>

    <% if @client.errors.any? %>
      <ul>
        <% @client.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

    <%= form_for @client do |f| %>
      <div class="row form-group">
        <div class="col-lg-6 col-xs-12">
          <%= f.label :first_name, "First Name<span class='asterisk'>*</span>".html_safe %>
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
        <div class="col-lg-6 col-xs-12">
          <%= f.label :last_name, "Last Name<span class='asterisk'>*</span>".html_safe %>
          <%= f.text_field :last_name, class: "form-control" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-lg-6 col-xs-12">
          <%= f.label :email, "Email<span class='asterisk'>*</span>".html_safe %>
          <%= f.email_field :email, class: "form-control" %>
        </div>
        <div class="col-lg-6 col-xs-12">
          <%= f.label :phone_number, "Phone Number<span class='asterisk'>*</span>".html_safe %>
          <%= f.text_field :phone_number, class: "form-control" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-lg-6 col-xs-12">
          <%= f.label :pick_up_location, "Pick Up Address<span class='asterisk'>*</span>".html_safe %>
          <%= f.text_field :pick_up_location, class: "form-control" %>
        </div>
        <div class="col-lg-6 col-xs-12">
          <%= f.label :city, "City<span class='asterisk'>*</span>".html_safe %>
          <%= f.text_field :city, class: "form-control" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-lg-6 col-xs-12">
          <%= f.label :pick_up_date, "Pick Up Date<span class='asterisk'>*</span>".html_safe %>
          <%= f.select(:pick_up_date, options_for_pickup, {}, { :class => 'form-control' }) %>
        </div>
        <div class="col-lg-6 col-xs-12">
          <%= f.label :pick_up_time, "time the tree will be ready<span class='asterisk'>*</span>".html_safe %>
          <%= f.time_field :pick_up_time, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :instructions, "Special instructions <small>(optional)</small>".html_safe %>
        <%= f.text_area :instructions, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= button_tag( :class => "btn btn-primary form-control homepage-form-btn") do %>
          submit <i class="ion-paper-airplane"></i>
        <% end %>
      </div>
    <% end %>

    </div>
  </div>
</div>
