<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="homepage-content">
      <h3>Help Our Journey Grads!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="homepage-content">
      <h3>Questions or concerns?</h3>
      <span>Emails us at <a href="#">info@journeytreechipping.com</a></span><br>
      <span>Or call us at <a href="#">604-243-1235</a></span>
    </div>
  </div>

  <div class="col-md-6 col-sm-12">
    <div class="client-form">

    <%= flash[:success] unless flash[:success].blank? %>
    <%= flash[:error] unless flash[:error].blank? %>

    <% if @client.errors.any? %>
      <ul>
        <% @client.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

    <%= form_for @client do |f| %>
      <div class="row form-group">
        <div class="col">
          <%= f.label :first_name, "First Name<span class='asterisk'>*</span>".html_safe %>
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
        <div class="col">
          <%= f.label :last_name, "Last Name<span class='asterisk'>*</span>".html_safe %>
          <%= f.text_field :last_name, class: "form-control" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col">
          <%= f.label :email, "Email<span class='asterisk'>*</span>".html_safe %>
          <%= f.email_field :email, class: "form-control" %>
        </div>
        <div class="col">
          <%= f.label :phone_number, "Phone Number<span class='asterisk'>*</span>".html_safe %>
          <%= f.text_field :phone_number, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :pick_up_location, "Pick Up Address<span class='asterisk'>*</span>".html_safe %>
        <%= f.text_field :pick_up_location, class: "form-control", placeholder: "Please include city" %>
      </div>
      <div class="row form-group">
        <div class="col">
          <%= f.label :pick_up_date, "Pick Up Date<span class='asterisk'>*</span>".html_safe %>
          <%= f.date_field :pick_up_date, class: "form-control" %>
        </div>
        <div class="col">
          <%= f.label :pick_up_time, "Pick Up Time<span class='asterisk'>*</span>".html_safe %>
          <%= f.time_field :pick_up_time, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.submit :submit, class: "btn btn-primary form-control homepage-form-btn", value: "Submit" %>
      </div>
    <% end %>

    </div>
  </div>
</div>
