<!DOCTYPE html>
<html>
  <head>
    <title>Journey Tree Chipping</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'favicon.ico' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://use.typekit.net/efd3ism.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
